<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GeekHavenCommunityApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.ChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardingPage"
            android:exported="false" />
        <activity
            android:name=".activities.Loginpage"
            android:exported="false" />
        <activity
            android:name=".activities.usernameActivity"
            android:exported="false" />
        <activity
            android:name=".activities.signinActivity"
            android:exported="false" />
        <activity
            android:name=".activities.signupActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activities.passwordActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".activities.emailActivity" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".HomeActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_home" -->
        <!-- android:theme="@style/Theme.GeekHavenCommunityApp" /> -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BaseHomeActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>